<table class="table table-bordered table-striped text-wrap">
    <thead>
        <tr class="align-middle text-center small">
            <th role="button" (click)="sortData('givenName')">First Name</th>
            <th role="button" (click)="sortData('surName')">Last Name</th>
            <th role="button" (click)="sortData('age')">Age</th>
            <th role="button" (click)="sortData('email')">Email</th>
            <th role="button" (click)="sortData('education')">Education</th>
        </tr>
    </thead>
    <tbody>
        @for(row of data; track row){
            <tr class="align-middle text-center small" (dblclick)="onPersonClicked(row)">
                <th>{{row.givenName}}</th>
                <th>{{row.surName}}</th>
                <th>{{row.age}}</th>
                <th>{{row.email}}</th>
                <th>{{row.education}}</th>
            </tr>
        }
    </tbody>
</table>
